<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <span class="fs-4 ps-5">Admin Panel</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                LOGO Section
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Logo" asp-action="Index">View Logo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Logo" asp-action="Upload">Upload Logo</a>
                </li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
Image Slider Section            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="SliderImages" asp-action="Index">View Images </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="SliderImages" asp-action="Upload">Upload new Images</a>
                </li>
            </ul>
        </li> <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                About us section
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="aboutus" asp-action="Index">View About us </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="aboutus" asp-action="Upload">Create About us</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Category section
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="BloggerCategory" asp-action="Index">View Category </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="BloggerCategory" asp-action="Upload">Add A New Category</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Blog section
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Index">View Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Blog" asp-action="Upload">Create New Blogs</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                OrganizationStaistics Section
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="OrganizationStatistics" asp-action="Index">View OrganizationStatistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="OrganizationStatistics" asp-action="Upload">Add OrganizationStatistics</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Services Section
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Services" asp-action="Index">View Services </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Services" asp-action="Upload">Create a New Serrvice</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Members Section
             </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Members" asp-action="Index">View Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Members" asp-action="Upload">Add Members</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Footer Section
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Footer" asp-action="Index">View Footer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Footer" asp-action="Upload">Create Footer</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Soical media Section
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="SocialMediaLinks" asp-action="Index">VIEW SocialMediaLinks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="SocialMediaLinks" asp-action="Upload">CREATE SocialMediaLinks</a>
                </li>
            </ul>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://static.vecteezy.com/system/resources/previews/000/439/863/original/vector-users-icon.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>User</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
         
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>

<style>



    .dropdown-menu .nav-link {
        color: #fff;
    }

    .nav-link.dropdown-toggle:focus + .dropdown-menu,
    .nav-link.dropdown-toggle:active + .dropdown-menu {
        background-color: #343a40;
    }


</style>